h1{
    color: rgb(0, 0, 109);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.listas{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 109);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.contenedor{
    width: 1200px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(184, 250, 118, 0.685);
    text-align: center;
}
.clicki:hover{
    color: yellow;
    font-size: 21px;
}