h1{
    color: rgb(0, 0, 109);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    box-shadow: 15px 10px 5px black;
    background-color: rgba(180, 250, 110, 0.685);
}
h1:active {
    color: red;
}
.listas{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 109);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.contenedor{
    width: 70%;
    height: 100%;
    border-radius: 30px 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(184, 250, 118, 0.685);
    text-align: center;
    padding: 20px;
}
.clicki:hover{
    color: yellow;
    font-size: 21px;
}